.container {
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 210px;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 51.7rem;
}

.title {
  h1 {
    font-size: 120px;
    margin-bottom: 5.6rem;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  p {
    font-size: 1.6rem;
    font-weight: normal;
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 5.3s;
    .img {
      position: relative;
    }
    .whats {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.5s;
    }

    .whatsColor {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover {
      .whats {
        opacity: 0;
      }
      .whatsColor {
        opacity: 1;
      }
    }
  }
}
