.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
  height: 8vh;
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 3;
      left: 67px;
      width: 3px;
      height: 33px;
      background: linear-gradient(to top, #ff0022 0.29%, #ff7509 82.2%);
    }
  }
}

.mobileMenu {
  cursor: pointer;
  display: none;
  div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
  }
}

ul {
  display: flex;
  gap: 2rem;

  a {
    font-family: "Space Grotesk", serif;
    font-size: 1.5rem;
    transition: 0.3s;

    &:hover {
      background: linear-gradient(to left, #ff0022 0.29%, #ff7509 82.2%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
}

a {
  color: white;
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navList {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background-color: #421d00;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translatex(100%);

    &:active {
      transform: translateX(0);
    }
  }
  ul {
    gap: 0;
    li {
      opacity: 1;
    }
  }
  .mobileMenu {
    display: block;
  }
}
