.container {
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 210px;
  padding-bottom: 210px;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 21rem;
}

.box {
  display: flex;
  flex-direction: column;
  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    width: 28.5rem;
    height: 29.1rem;
    border-radius: 14px;

    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 28.5rem;
      height: 29.1rem;
      border-radius: 14px;
      z-index: 1;
      padding: 4px;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      width: 150px;
      height: 135%;
      background: linear-gradient(to top, #ff0022 0.29%, #ff7509 69.2%);
      animation: animate 8s linear infinite;
      box-shadow: 0px -20px 20px 5px #ff7509, 0px 20px 20px 5px #ff0000;
    }
  }
  h3 {
    text-align: center;
    margin-top: 1.8rem;
  }
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .container {
    padding-bottom: 36px;
  }
  h2 {
    font-size: 3.2rem;
  }
  .content {
    justify-content: center;
    gap: 36px;
    margin-top: 11rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 7rem;
  }
  .content {
    margin-top: 5.5rem;
  }
}

@media (max-width: 550px) {
  .container {
    margin-top: 4.1rem;
  }
  .content {
    margin-top: 3.5rem;
    gap: 20px;
  }
}
