* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  font-family: "Familjen Grotesk", sans-serif;
}

body {
  background-color: #000816;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}